
body {
  font-family: 'Rubik', sans-serif;
  background-color: $body-bg;
  color: $font-color;
}
.main-content {
  margin-top: 80px;
  padding: 20px;
}

.page-title{
  font-weight: 100;
  margin: 0;
  padding: 0;
}

button {
  padding: 10px 15px;
  background-color: $primary-color;
  color: $white;
  border: none;
  border-radius: 8px;
  min-width: 120px;
  box-shadow: 0 0 20px rgba($primary-color, 0.4);
}
.primary-action {
  text-align: right;
}
input[type='text'] {
  padding: 7px;
  border-radius: 4px;
  border: 1px solid $grey300;
  background-color: $white;
}
.create-goal {
  width: 321px;
  margin: 0 auto;
}
.button-container {
  text-align: center;
}
.form {
  width: 341px;
  margin-top: 50px;
  background-color: $white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  .section {
    margin-bottom: 30px;
  }
  label{
    width: 120px;
    font-weight: normal;
  }
}
textarea {
  border: 1px solid $grey300;
  width: 300px;
  resize: none;
  padding: 7px;
}

table{
  width: 100%;
  margin-top: 50px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  tr{
    background-color: $white;
  }
  td, th{
    padding: 20px;
  }
  th {
    text-transform: uppercase;
    font-weight: 500;
    border-bottom: 1px solid $grey300;
  }
  td{
    border-bottom: 1px solid $grey200;
  }
}
#table-goal{
  width: 40%
}
.date-email {
  width: 20%;
}

select{
  padding: 7px;
  -webkit-appearance: none;
  width: 180px;
  border: 1px solid $grey300;
}

.old{
  background-color: $red400;
  color: $white;
  padding: 5px;
  border-radius: 4px;
}
.future{
  background-color: $green400;
  color: $white;
  padding: 5px;
  border-radius: 4px;
}
.react-datepicker__day--selected{
  background-color: $primary-color !important;
}

.logo{
  img{
    width: 100px;
  }
  &:after{
    content: " ";
    position: fixed;
    width: 1px;
    height: 30px;
    background: black;
    top: 17px;
    left: 130px;
  }
}
a{
  &:hover,
  &:focus,
  &:visited{
    text-decoration: none;
    color: $font-color;
  }
}
.logo-tag{
  position: relative;
  left: 30px;
  // text-transform: uppercase;
  top: 3px;
  color: $font-color;
  text-decoration: none;
}

.title{
  text-align: center;
  margin-top: 20px;
  text-transform: uppercase;
  opacity: 0.4;
}
